.size {
  width: 120px;
}

.control {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-color: var(--dark-color);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 19px;
}

.quantity :nth-child(1),
.quantity :nth-child(3) {
  font-weight: bold;
  cursor: pointer;
}

.quantity :nth-child(2) {
  display: inline-block;
  width: 40px;
}
