.uuid {
  position: relative;
}

.buttons {
  justify-content: flex-start !important;
}

.buttons input,
.buttons button {
  width: 100px !important;
}

.uuid button {
  position: absolute;
  right: 1px;
  gap: 5px;
  top: 1px;
  height: 35px;
  padding: 3px 6px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--dark-color);
  color: white;
}

.uuid svg {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}
