.size {
  width: 120px;
}

.control {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 19px;
}
