.container {
  background-color: var(--dark-color);
  padding: 8px;
}

.container nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container nav a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 8px;
  color: white;
}

.container nav a .active {
  color: red;
}
