* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark-color: #3d4247;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--dark-color);
}

body {
  margin-top: 40px;
}

main {
  min-height: calc(100vh - 70px);
}

main {
  padding: 1rem 0;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid var(--dark-color);
  text-align: center;
}

td,
th {
  padding: 4px;
}

table button ~ img {
  background: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

a.btn {
  text-decoration: none;
  color: white;
}

a.active {
  color: tomato !important;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-success {
  color: white;
  background-color: green;
}

.btn-blue {
  color: #fff;
  background-color: #0909cc;
  border-color: #0909cc;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form {
  width: 600px;
  margin: 1rem auto;
}

.form > div {
  margin: 1rem 0;
}

.form .flex > div {
  flex: 1;
}

.events-none {
  pointer-events: none;
  opacity: 0.6;
}

table thead th {
  font-size: 18px;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #efefef;
}

table tr th {
  background-color: var(--dark-color);
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
  border: none;
}

table tr:hover {
  background-color: #dddddd;
}

table td svg {
  margin: 0 0.5rem;
}

table {
  margin: 1.5rem auto;
  width: 960px;
}

input {
  outline: none;
}

.w-104 {
  width: 104px;
}

.containerBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 960px;
  margin: auto;
}

.containerBtn input,
.containerBtn button {
  width: 100px !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 28px;
  background-color: white;
}

.creative-commons {
  background: none;
  border: none;
}
