.container h2 {
  text-align: center;
  margin-top: 48px;
  font-weight: 600;
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  margin: 20px 0;
}

.period span {
  width: 150px;
  text-align: center;
}

.period svg {
  background-color: var(--dark-color);
  padding: 2px;
  height: 30px;
  width: 20px;
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}
